<h1>Editing busdetail</h1>

<%= render "form", busdetail: @busdetail %>

<br>

<div>
  <%= link_to "Show this busdetail", @busdetail %> |
  <%= link_to "Back to busdetails", busdetails_path %>
</div>
 
